*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  font-size: 1.5rem;
  color:rgb(119, 119, 252);
  font-weight: 700;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(239, 240, 255);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.15rem;
}
.App {
  background-color: white;
  padding: 2rem;
  min-width: 500px;
  border-radius: 14px;
  box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);
}
label {
  margin-top: 1rem;
}
input {
  border: none;
  height: 30px;
  border-bottom: 1px solid black;
  border-radius: 5%;
  padding-bottom: 0.25rem;
  outline: none;
}
textarea {
  height: 100px;
  border: none;
  border-bottom: 1px solid black;
}
.form-group{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;

}
button {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  font-size: 20px;
  background-color: green;
}
.container {
  width: 900px;
}
.Popup {
  position: fixed;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  

}

.Popup-frame {
  border-radius: 5%;
  background-color: rgb(239, 240, 255);
  width: 500px;
  padding: 20px 10px;
}
.inp-pop {
  width: 200px;
}
.pop-group{
  display: flex;
  flex-direction: column;
}